<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Ankit Ahuja and Sameer Ahuja</string>
	<key>CFBundleDisplayName</key>
	<string>gleeBox</string>
	<key>CFBundleIdentifier</key>
	<string>com.ankitandsameerahuja.safari.gleebox</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>2.2.1</string>
	<key>CFBundleVersion</key>
	<string>2.2.1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>background.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>js/libs/jquery.js</string>
				<string>js/libs/jquery.autocomplete.js</string>
				<string>js/glee.js</string>
				<string>js/events.js</string>
				<string>js/safari/browser.js</string>
				<string>js/safari/pagecmds.js</string>
				<string>js/linkreaper.js</string>
				<string>js/libs/selectorgenerator.js</string>
				<string>js/logger.js</string>
				<string>js/libs/smoothscroller.js</string>
				<string>js/injectcss.js</string>
				<string>js/elementstate.js</string>
				<string>js/libs/utils.js</string>
				<string>js/pagecmds.js</string>
				<string>js/listmanager.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>css/glee.css</string>
			<string>css/themes.css</string>
			<string>css/jquery.autocomplete.css</string>
			<string>css/listmanager.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Keyboard glee for your web</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://thegleebox.com/safari/update.plist</string>
	<key>Website</key>
	<string>http://thegleebox.com</string>
</dict>
</plist>
