<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>DefaultValue</key>
        <string>http://www.google.com/search?q=</string>
        <key>Key</key>
        <string>searchEngineUrl</string>
        <key>Title</key>
        <string>Search Engine</string>
        <key>Type</key>
        <string>Hidden</string>
    </dict>
    <dict>
        <key>DefaultValue</key>
        <real>500</real>
        <key>FalseValue</key>
        <real>0.0</real>
        <key>Key</key>
        <string>scrollingSpeed</string>
        <key>Title</key>
        <string>Animated Scrolling</string>
        <key>Titles</key>
        <array>
            <string>On</string>
            <string>Off</string>
        </array>
        <key>TrueValue</key>
        <real>500</real>
        <key>Type</key>
        <string>Hidden</string>
        <key>Values</key>
        <array>
            <real>500</real>
            <real>0.0</real>
        </array>
    </dict>
    <dict>
        <key>DefaultValue</key>
        <real>71</real>
        <key>Key</key>
        <string>shortcutKey</string>
        <key>Title</key>
        <string>Shortcut to launch gleeBox</string>
        <key>Type</key>
        <string>Hidden</string>
    </dict>
    <dict>
        <key>DefaultValue</key>
        <string>bottom</string>
        <key>Key</key>
        <string>position</string>
        <key>Title</key>
        <string>Position</string>
        <key>Titles</key>
        <array>
            <string>Top</string>
            <string>Middle</string>
            <string>Bottom</string>
        </array>
        <key>Type</key>
        <string>Hidden</string>
        <key>Values</key>
        <array>
            <string>top</string>
            <string>middle</string>
            <string>bottom</string>
        </array>
    </dict>
    <dict>
        <key>DefaultValue</key>
        <string>medium</string>
        <key>Key</key>
        <string>size</string>
        <key>Title</key>
        <string>Size</string>
        <key>Titles</key>
        <array>
            <string>Small</string>
            <string>Medium</string>
            <string>Large</string>
        </array>
        <key>Type</key>
        <string>Hidden</string>
        <key>Values</key>
        <array>
            <string>small</string>
            <string>medium</string>
            <string>large</string>
        </array>
    </dict>
    <dict>
        <key>DefaultValue</key>
        <string>GleeThemeDefault</string>
        <key>Key</key>
        <string>theme</string>
        <key>Title</key>
        <string>Theme</string>
        <key>Titles</key>
        <array>
            <string>Default</string>
            <string>White</string>
            <string>Console</string>
            <string>Greener</string>
            <string>Ruby</string>
            <string>New Directions</string>
        </array>
        <key>Type</key>
        <string>Hidden</string>
        <key>Values</key>
        <array>
            <string>GleeThemeDefault</string>
            <string>GleeThemeWhite</string>
            <string>GleeThemeConsole</string>
            <string>GleeThemeGreener</string>
            <string>GleeThemeRuby</string>
            <string>GleeThemeGlee</string>
        </array>
    </dict>
    <dict>
        <key>DefaultValue</key>
        <string>["mail.google.com", "wave.google.com", "mail.yahoo.com"]</string>
        <key>Key</key>
        <string>disabledUrls</string>
    </dict>
    <dict>
        <key>DefaultValue</key>
        <true/>
        <key>Key</key>
        <string>espStatus</string>
    </dict>
    <dict>
        <key>DefaultValue</key>
        <string>[{"url":"google.com/search","selector":"h3:not(ol.nobr&gt;li&gt;h3),a:contains(Next)"},{"url":"bing.com/search","selector":"div.sb_tlst"}]</string>
        <key>Key</key>
        <string>espModifiers</string>
    </dict>
    <dict>
        <key>DefaultValue</key>
        <string>[]</string>
        <key>Key</key>
        <string>scrapers</string>
    </dict>
    <dict>
        <key>DefaultValue</key>
        <real>0.0</real>
        <key>Key</key>
        <string>version</string>
        <key>Secure</key>
        <false/>
    </dict>
    <dict>
        <key>DefaultValue</key>
        <false/>
        <key>Key</key>
        <string>outsideScrollingStatus</string>
    </dict>
    <dict>
        <key>DefaultValue</key>
        <real>87</real>
        <key>Key</key>
        <string>upScrollingKey</string>
    </dict>
    <dict>
        <key>DefaultValue</key>
        <real>83</real>
        <key>Key</key>
        <string>downScrollingKey</string>
    </dict>
</array>
</plist>
