/** Options Page CSS for gleeBox **/

body {
	background-color: #ff;
	font-size: 14px;
	line-height: 28px;
	font-family: Helvetica, Arial, sans-serif;
	color: #535353;
	margin: 0;
	padding: 0;
}

#wrap {
	margin: 0 auto;
	width: 100%;
}

/** Tabs **/

#options {
	position: absolute;
	margin: 0 0 20px 200px;
	background-color: #fff;
	padding: 20px;
}

#tabmenu {
	position: fixed;
	width: 199px;
	margin: 0;
	float: left;
	height: 100%;
	background-color: #E9E9E9;
	border-right: 1px solid;
	border-color: #C3C3C3;
	text-align: right;
}

#tabmenu h3 {
	padding: 27 10 17 5;
}

ul.menu {
	float: right;
	font-family: Helvetica, "Lucida Grande", "Trebuchet MS", Arial, sans-serif;
	font-size: 14px;
	margin: 0;
	margin-bottom: 10px;
}

.tabActive {
	font-weight: bold;
	background-color: #fff;
}

ul.menu li {
	text-align: right;
	width: 250px;
	padding: 3 10 3 3;
	margin: 5 0 0 0;
}

ul.menu li a, ul.menu li a:visited {
	text-decoration: none;
}

/** End of Tabs **/

a,
a:visited,
a:active {
	color: #467ecc;
}

a:hover {
	color: #39719b;
}

h1 {
	clear: both;
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 40px;
	color: #555;
	font-weight: normal;
	text-align: center;
}

h2 {
	clear: both;
	color: #555;
	font-size: 20px;
	font-weight: normal;
	letter-spacing: 1px;
	margin: 20px 0px;
	padding-top: 5px;
	padding-bottom: 3px;
	border-bottom: 1px dotted #CFCFCF;
}

input,
textarea {
	border: 0;
	background-color: #f1f1f1;
	border: 1px solid #aaa;
	border-radius: 2px;
	padding: 2px 3px;
	display: inline;
	color: #333;
	font-size: 13px;
	line-height: 17px;
	font-family: Helvetica, "Lucida Grande", "Trebuchet MS", Arial, sans-serif;
	margin: 0;
}

ul li {
	margin-bottom: 30px;
	display: block;
	float: left;
	clear: both;
}

ul li li {
	border: none;
	float: none;
	margin: 0;
	margin-bottom: 5px;
}

ul li ul {
	margin: 0;
	padding: 0;
}

.button:hover {
	cursor: pointer;
	background-color: #ddd;
	color: #000;
}

.button:active {
	background-color: #ccc;
}

.superButton {
	font-size: 18px;
	border-radius: 6px;
	padding: 5px;
}

.superButton:hover {
	cursor: pointer;
	background-color: #ddd;
	color: #000;
}

.superButton:active {
	background-color: #ccc;
}

.inline_button {
	padding-left: 20px;
	float: right;
}

.subtext {
	font-size: 12px;
	color: #888;
	font-family: Helvetica, "Lucida Grande", "Trebuchet MS", Arial, sans-serif;
	line-height: 14px;
}

.submit {
	float: right;
}

.description {
	font-size: 14px;
	color: gray;
}

.editable:hover {
	background-color: #f1f1f1;
	outline: 1px solid #555;
}

.removeBt {
	display: block;
    background: url(../images/remove.png) no-repeat;
	height: 16px;
	margin-left: 5px;
	margin-top: 7px;
	width: 16px;
}

.removeBt:hover {
    background: url(../images/remove_hover.png) no-repeat;
}

.inbuilt {
	float: right;
	margin-left: 20px;
	font-size: 12px;
	color: gray;
}

/** Options **/

ul.options {
	list-style-type:  none;
	margin: 0;
	padding: 0;
	margin-left: 10px;
}

.option-label {
	float: left;
	width: 250px;
}

.option-field {
	float: left;
	margin-left: 20px;
}

.option-field input[type=checkbox] {
	margin-top: 10px;
}

#addDomainLi {
	margin-top: 10px;
}

/** Common to ESP and Scrapers **/

.selector {
	width: 350px;
    display: inline-block;
    font-size: 12px;
    font-family: Menlo, Monaco, 'Lucida Console', 'Courier New', monospace;
    float: left;
	line-height: 20px;
	padding: 0;
	padding: 3px 0px;
	margin-left: 5px;
}

input.selector {
	padding: 2px 3px;
	line-height: 17px;
}

#esp-modifiers li,
#scrapers li
{
	float: left;
    font-size: 14px;
	padding: 2px 0;
	margin: 0;
	word-wrap: break-word;
}

li.scraper,
li.esp {
	border-bottom: 1px dotted #ccc;
}

#esp-modifiers .button,
#scrapers .button {
	margin-left: 5px;
}

#esp-modifiers input,
#scrapers input {
	float: left;
}

/** ESP **/

#esp-search-field, 
.esp-url, 
#add-esp-url 
{
	float: left;
    font-weight: bold;
    width: 200px;
}

.esp_url {
	line-height: 20px;	
	padding: 3px 0px;
}

#esp-search-field {
	margin-bottom: 10px;
}

/** Scrapers **/

/** ? prepended before scrapers **/

.scraper-prefix {
    font-weight: bold;
    float: left;
	line-height: 20px;
	padding:3px 0px;
}

/** Scraper Names **/

#scraper-search-field,
.default-scraper-name,
.scraper-name,
#scraper-name 
{
	float: left;
	font-weight: bold;
    width: 150px;
}

.default-scraper-name,
.scraper-name {
	line-height: 20px;	
	padding: 3px 0px;
}

/** Popup **/

#popup {
    display: none;
    position: fixed;
    top: 20%;
    left: 30%;
    color: gray;
    font-size: 16px;
    z-index: 10000;
    padding: 10px;
    border-radius: 5px;
    width: 40%;
    height: 50%;
    background-color: #fff;
    border-radius: 2px;
    line-height: 20px;
    -webkit-box-shadow: #999 0px 0px 15px;
}

#popup textarea {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    display: block;
    font-size: 12px !important;
    font-family: Menlo, Monaco, 'Lucida Console', 'Courier New', monospace !important;
    line-height: 18px;
    height: 75%;
    margin: 10px 0;
    width: 100%;
}

#popup .button {
    float: right;
    display: block;
}

/** Scrollbar **/

#popup textarea::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

#popup textarea::-webkit-scrollbar-button:start:decrement,
#popup textarea::-webkit-scrollbar-button:end:increment {
	display: none;
}

#popup textarea::-webkit-scrollbar-button:start:increment,
#popup textarea::-webkit-scrollbar-button:end:decrement {
    display: none;
}

#popup textarea::-webkit-scrollbar-track-piece {
	border-radius: 7px;
	background-color: #ddd;
}

#popup textarea::-webkit-scrollbar-thumb:vertical {
    height: 100px;
	border-radius: 7px;
	background-color: #aaa;
}

#popup textarea::-webkit-scrollbar-corner:vertical, 
#popup textarea::-webkit-scrollbar-resizer:vertical {
    background-color: #ededed;
}