/* Box */

#gleeTouch{line-height:20px; left:35%; top:15%; margin:0; padding:5px; opacity:0.85; width:350px; position:fixed; height:250px; -webkit-border-radius:5px; display:none; z-index:100000;}

/* Options */

a.gleeTouchOption {padding:5px; display:block; margin: 2px 0px; -webkit-border-radius:2px; cursor:pointer; -webkit-box-shadow:#fff 0px 1px 1px;}

/* Typography */

#gleeTouch{ font-family:Helvetica, Arial, serif !important; font-size:15px !important;text-shadow:#fff 0px 1px 0px; font-weight:normal !important;}

/* Themes */

.GleeThemeWhite{ background-color:#f4f4f4 !important; -webkit-box-shadow: 0px 0px 10px #aaa; /*border: 1px solid #aaa;*/}

.GleeThemeWhite a{ border:1px solid #ccc; color: #1b1b1b !important; }