.GleeReaped{
	background-color: #fbee7e !important;
	border: 1px dotted #818181 !important;
} 
.GleeHL{
	background-color: #d7fe65 !important;
	-webkit-box-shadow: rgb(177, 177, 177) 0px 0px 9px !important;
	-moz-box-shadow: rgb(177, 177, 177) 0px 0px 9px !important;
	padding: 3px !important;
	color: #1c3249 !important;
	border: 1px solid #818181 !important;
}
.GleeHL a{
	color: #1c3249 !important;
}
#gleeBox{ 
	line-height:20px;
	z-index:100000;
	position:fixed;
	left:5%;
	top:35%;
	display:none;
	overflow:auto;
	width:90%;
	background-color:#333;
	opacity:0.65;
	color:#fff;
	margin:0;
	font-family:Calibri,Helvetica,serif;
	padding:4px 6px;
	text-align:left;
	/*rounded corners*/
	border-radius:7px;
}
#gleeSearchField{
	outline:none;
	width:90%;
	color:#fff;
	background-color:#333;
	margin:0;
	padding:0;
	margin:3px 0;
	border:none;
	font-size:100px;
	font-family:Calibri,Helvetica,serif;
}
#gleeSubText, #gleeSubURL, #gleeSubActivity{
	font-size:15px;
	font-family:Calibri,Helvetica,serif;
	color:#fff;
	width:auto;
	font-weight: normal;
}
#gleeSubText{
	float:left;
}
#gleeSubURL{
	display:inline;
	float:right;
}
#gleeSubActivity{
	color:#ccc;
	height:10px;
	display:inline;
	float:left;
	padding-left:5px;
}