/** gleeBox **/

/** Old highlighting css **/

/*.GleeReaped {
    background-color: #fbee7e !important;
    border: 1px dotted #818181 !important;
} 

.GleeHL {
    background-color: #d7fe65 !important;
    -webkit-box-shadow: rgb(177, 177, 177) 0px 0px 9px !important;
    -moz-box-shadow: rgb(177, 177, 177) 0px 0px 9px !important;
    padding: 3px !important;
    color: #1c3249 !important;
    border: 1px solid #818181 !important;
}

.GleeHL a {
    color: #1c3249 !important;
}*/

.GleeReaped {
    background-color: #f9f2a5 !important;
    outline: 1px dotted #818181 !important;
}

.GleeHL {
    -webkit-box-shadow: hsla(71, 89%, 70%, 1) -2px -2px 0px,
                        hsla(71, 89%, 70%, 1)  2px -2px 0px,
                        hsla(71, 100%, 45%, 1) -2px  2px 0px,
                        hsla(71, 100%, 45%, 1)  2px  2px 0px,
                        hsla(71, 100%, 80%, 1)  0px 0px 0px 3px,
                        rgba(42, 35, 0, 0.8)  1px  1px 3px 3px !important;
    border-radius: 3px !important;
    color: #1c3249 !important;
    outline: none !important;
    border: none !important;
    background: -webkit-gradient(linear, left bottom, left top,
                    color-stop(0, hsla(71, 100%, 47%, 1)),
                    color-stop(1, hsla(71, 89%, 70%, 1))) !important;
}

.GleeHL a {
	color: #1c3249 !important;
}

#gleeBox {
	background-color: #333;
	border-radius: 7px;
	color: #fff;
	display: none;
	font-family: Calibri, "Lucida Grande", Lucida, Arial, sans-serif;
	height: auto !important;
	left: 5% !important;
	line-height: 20px !important;
	margin: 0;
	opacity: 1 !important;
	overflow: auto !important;
	padding: 4px 6px !important;
	position: fixed !important;
	text-align: left !important;
	top: 35%;
	width: 90% !important;
    z-index: 2147483647 !important;
}

#gleeSearchField {
	outline: none !important;
	-webkit-box-shadow: none !important;
	width: 90% !important;
	background: none !important;
	padding: 0 !important;
	margin: 3px 0 !important;
	border: none !important;
	height: auto !important;
	font-size: 100px;
	color: #fff;
}

#gleeSub {
	font-size: 15px !important;
	font-family: inherit !important;
	font-weight: normal !important;
	height: auto !important;
	margin: 0 !important;
	padding: 0 !important;
	color: inherit !important;
	line-height: normal !important;
}

#gleeSubText, #gleeSubURL, #gleeSubActivity {
	width: auto !important;
	font-size: inherit !important;
	color: inherit !important;
	font-family: inherit !important;
	line-height: 20px !important;
	font-weight: normal !important;
}

#gleeSubText {
	float: left !important;
}

#gleeSubURL {
	display: inline !important;
	float: right !important;
}

#gleeSubActivity {
	height: 10px !important;
	display: inline !important;
	float: left !important;
	padding-left: 5px !important;
}