/** Options Page CSS for gleeBox **/

body {
	background-color: #ff;
	font-size: 16px;
	line-height: 28px;
	font-family: Helvetica, Arial, sans-serif;
	color: #535353;
	margin: 0;
	padding: 0;
}

#wrap {
	margin: 0 auto;
	width: 100%;
}

#options {
	position: absolute;
	margin: 0 0 20px 300px;
	background-color: #fff;
	padding: 20px;
}

#tabmenu {
	position: fixed;
	width: 299px;
	margin: 0;
	float: left;
	height: 100%;
	background-color: #E9E9E9;
	border-right: 1px solid;
	border-color: #C3C3C3;
	text-align: right;
}

#tabmenu h3 {
	padding: 27 10 17 5;
}

a,
a:visited,
a:active {
	color: #467ecc;
}

a:hover {
	color: #39719b;
}

h1 {
	clear: both;
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 40px;
	color: #555;
	font-weight: normal;
	text-align: center;
}

h2 {
	clear: both;
	color: #555;
	font-size: 20px;
	background-color: #edf2f2;
	font-weight: normal;
	letter-spacing: 1px;
	margin: 20px 0px;
	border-radius: 5px;
	padding-left: 7px;
	padding-top: 5px;
	padding-bottom: 3px;
}

ul.options {
	list-style-type:  none;
	margin: 0;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-top: 5px;
	padding: 0;
	width: 100%;
	display: block;
	float: left;
	clear: both;
	width: 800px;
}

ul li {
	margin-bottom: 30px;
	display: block;
	float: left;
	clear: both;
}

ul li li {
	border: none;
	float: none;
	margin: 0;
	margin-bottom: 5px;
}

ul li ul {
	margin: 0;
	padding: 0;
}

ul.menu {
	float: right;
	font-family: Helvetica, "Lucida Grande", "Trebuchet MS", sans-serif;
	font-size: 14px;
	margin: 0;
}

.tabActive {
	font-weight: bold;
	background-color: #fff;
}

ul.menu li {
	text-align: right;
	width: 300px;
	padding: 3 10 3 3;
	margin: 5 0 0 0;
}

ul.menu li a, ul.menu li a:visited {
	text-decoration: none;
}


.option-label {
	float: left;
	width: 330px;
}

.option-field {
	float: left;
	margin-left: 20px;
}

.option-field input[type=checkbox] {
	margin-top: 10px;
}

input,
textarea {
	border: 0;
	background-color: #f1f1f1;
	border: 1px solid #aaa;
	border-radius: 2px;
	padding: 2px 3px;
	display: inline;
	color: #333;
	font-size: 13px;
	line-height: 17px;
	font-family: "Lucida Grande", "Trebuchet MS", sans-serif;
	margin: 0;
}

.button:hover {
	cursor: pointer;
	background-color: #ddd;
	color: #000;
}

.button:active {
	background-color: #ccc;
}

.superButton {
	font-size: 18px;
	border-radius: 6px;
	padding: 5px;
}

.superButton:hover {
	cursor: pointer;
	background-color: #ddd;
	color: #000;
}

.superButton:active {
	background-color: #ccc;
}

.inline_button {
	padding-left: 20px;
	float: right;
}

#addDomainLi {
	margin-top: 10px;
}

.subtext {
	font-size: 10px;
	color: #555;
	font-family: Verdana, Arial, sans-serif;
	line-height: 14px;
}

#esp-modifiers li,
#scraper-commands li {
	float: left;
    font-size: 14px;
	margin: 5px 0px;
	word-wrap: break-word;
}

#esp-modifiers input,
#scraper-commands input {
    float: left;
}

#esp-modifiers .button,
#scraper-commands .button {
    margin-left: 10px;
}

.scraper-name:hover,
.scraper-sel:hover,
.domain-name:hover,
.esp-url:hover,
.esp-sel:hover {
	background-color: #f1f1f1;
	outline: 1px solid #777;
	border-radius: 2px;
}

.separator {
    float: left;
    margin: 0px 5px;
}

.scraper-prefix {
    font-weight: bold;
    float: left;
}

.esp-url, .scraper-name, .default-scraper-name {
    font-weight: bold;
	float: left;
    display: inline-block;
    width: 100px;
}

#scraper-search-field {
    width: 100px;
}

.esp-url, #esp-search-field {
    width: 300px;
}

.esp-sel, .scraper-sel {
    width: 550px;
    display: inline-block;
    font-size: 12px;
    font-family: Monaco, "Lucida Console", monospace;
    float: left;
}

.esp-sel {
    width: 360px;
}

#add-esp-url {
	width: 300px;
	float: left;
	margin-right: 5px;
}

#add-esp-selector {
	width: 360px;
	float: left;
	margin-left: 5px;
}

#scraper-name {
	float: left;
	margin-right: 5px;
	width: 100px;
}

#scraper-selector {
	float: left;
	margin-left: 5px;
	width: 550px;
}

.submit {
	float: right;
}

.separator {
	float: left;
	line-height: 20px;
}

.description {
	font-size: 14px;
	color: gray;
}

#footer {
	margin-top: 10px;
	border-top: 1px solid #ccc;
	font-size: 14px;
	line-height: 25px;
	text-align: center;
	color: #555;
	clear: both;
}

/* Modal popup */
#popup {
    display: none;
    position: fixed;
    top: 20%;
    left: 30%;
    color: gray;
    font-size: 16px;
    z-index: 10000;
    padding: 10px;
    border-radius: 5px;
    width: 40%;
    height: 50%;
    background-color: #fff;
    border-radius: 2px;
    line-height: 20px;
    -webkit-box-shadow: #999 0px 0px 15px;
}

#popup textarea {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    display: block;
    font-size: 12px !important;
    font-family: Monaco, 'Lucida Console', monospace !important;
    line-height: 18px;
    height: 75%;
    margin: 10px 0;
    width: 100%;
}

#popup .button {
    float: right;
    display: block;
}

/* Scrollbar styling */
#popup textarea::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

#popup textarea::-webkit-scrollbar-button:start:decrement,
#popup textarea::-webkit-scrollbar-button:end:increment {
	display: none;
}

#popup textarea::-webkit-scrollbar-button:start:increment,
#popup textarea::-webkit-scrollbar-button:end:decrement {
    display: none;
}

#popup textarea::-webkit-scrollbar-track-piece {
	border-radius: 7px;
	background-color: #ddd;
}

#popup textarea::-webkit-scrollbar-thumb:vertical {
    height: 100px;
	border-radius: 7px;
	background-color: #aaa;
}

#popup textarea::-webkit-scrollbar-corner:vertical, 
#popup textarea::-webkit-scrollbar-resizer:vertical {
    background-color: #ededed;
}

.menu-separator {
	width: 100%;
	height: 1px;
	float: right;
	background-color: #ccc;
	-webkit-box-shadow: 0px 1px 1px #fff;
}