#gleeTabBox{
	line-height:20px;
	left:25%;
	display:none;
	margin:0;
	padding:2px !important;
	top:15%;
	overflow:auto;
	position:fixed;
	width:50%;
	z-index:100000;
	opacity:0.85;
	height:400px;
	font-size:15px;
	border-radius:7px !important;
}

#gleeTabSearchField{
	line-height:20px !important;
	margin:0 !important;
	padding:5px !important;
	border:none !important;
	color:inherit !important;
	outline:none !important;
	font-size:inherit !important;
	font-family:inherit !important;
	background-color:inherit !important;
	width:97% !important;
}

#gleeTabList{
	padding:0 !important;
	width:auto !important;
	margin:0 !important;
	font-size:inherit !important;
	color:inherit !important;
	text-align:left !important;
	font-family:inherit !important;
}

#gleeTabBox a.gleeTabListItem, a.gleeTabListItem:visited, a.gleeTabListItem:active, a.gleeTabListItem:hover{
	margin:0px !important;
	padding:5px;
	border-radius:2px !important;
	color:inherit !important;
	text-decoration:none !important;
	font-family:inherit !important;
	font-size:inherit !important;
	float:left !important;
	outline: none !important;
	width:98% !important;
	font-weight:inherit !important;
	cursor:normal !important;
}

#gleeTabBox a.gleeTabHover.gleeTabListItem{
	background-color: #ededed !important;
	color: #454545 !important;
	outline:none !important;
}

#gleeTabBox.GleeThemeRuby a.gleeTabHover.gleeTabListItem{
	background-color: #e8c1cd !important;
	color: #580d2b !important;
}

#gleeTabBox.GleeThemeWhite a.gleeTabHover.gleeTabListItem{
	background-color: #c5c9d1 !important;
	color: #1b1b1b !important;
}

#gleeTabBox.GleeThemeGreener a.gleeTabHover.gleeTabListItem{
	background-color: #4ad051 !important;
	color: #093b21 !important;
}

#gleeTabBox.GleeThemeConsole a.gleeTabHover.gleeTabListItem{
	background-color:#005f81 !important;
	color: #ffffff !important;
}

/* Styled scrollbars ;) */
#gleeTabBox::-webkit-scrollbar {
	width: 13px;
	height: 13px;
}

#gleeTabBox::-webkit-scrollbar-button:start:decrement,
#gleeTabBox::-webkit-scrollbar-button:end:increment{
	display:none;
}

#gleeTabBox::-webkit-scrollbar-button:start:increment,
#gleeTabBox::-webkit-scrollbar-button:end:decrement {
    display: none;
}

#gleeTabBox::-webkit-scrollbar-button:vertical{
}

#gleeTabBox::-webkit-scrollbar-button:start:decrement {
}

#gleeTabBox::-webkit-scrollbar-button:end:increment {
}

#gleeTabBox::-webkit-scrollbar-track-piece {
	border-radius:7px;
	background-color: #ededed;
}

#gleeTabBox::-webkit-scrollbar-thumb:vertical {
    height: 100px;
	border-radius:7px;
	background-color: #454545;
}
#gleeTabBox::-webkit-scrollbar-corner:vertical, #gleeTabBox::-webkit-scrollbar-resizer:vertical {
    background-color: #ededed;
}

/* theme specific styling for scrollbar */

/* Greener */
#gleeTabBox.GleeThemeGreener::-webkit-scrollbar-track-piece {
    background-color: #4ad051;
}
#gleeTabBox.GleeThemeGreener::-webkit-scrollbar-thumb:vertical {
    background-color: #093b21;
}
#gleeTabBox.GleeThemeGreener::-webkit-scrollbar-corner:vertical, #gleeTabBox.GleeThemeGreener::-webkit-scrollbar-resizer:vertical {
    background-color: #4ad051;
}

/* Ruby */
#gleeTabBox.GleeThemeRuby::-webkit-scrollbar-track-piece {
	background-color: #e8c1cd;
}
#gleeTabBox.GleeThemeRuby::-webkit-scrollbar-thumb:vertical {
    background-color: #580d2b;
}
#gleeTabBox.GleeThemeRuby::-webkit-scrollbar-corner:vertical, #gleeTabBox.GleeThemeRuby::-webkit-scrollbar-resizer:vertical {
    background-color: #e8c1cd;
}

/* White */
#gleeTabBox.GleeThemeWhite::-webkit-scrollbar-track-piece {
	background-color: #c5c9d1;
}
#gleeTabBox.GleeThemeWhite::-webkit-scrollbar-thumb:vertical {
    background-color: #1b1b1b;
}
#gleeTabBox.GleeThemeWhite::-webkit-scrollbar-corner:vertical, #gleeTabBox.GleeThemeWhite::-webkit-scrollbar-resizer:vertical {
    background-color: #c5c9d1;
}

/* Console */
#gleeTabBox.GleeThemeConsole::-webkit-scrollbar-track-piece {
	background-color: #005f81;
	border:1px solid #333;
}
#gleeTabBox.GleeThemeConsole::-webkit-scrollbar-thumb:vertical {
    background-color: #ffffff;
	border:1px solid #111;
}
#gleeTabBox.GleeThemeConsole::-webkit-scrollbar-corner:vertical, #gleeTabBox.GleeThemeConsole::-webkit-scrollbar-resizer:vertical {
    background-color: #005f81;
}
/* end of theme-specific style for scrollbar */